body {
  background-color: #000000;
  color: #ffffff;
  font-family: "VT323", monospace;
  font-size: 18px;
}

.profile-image {
  border: solid;
  border-width: 5px;
  border-radius: 50%;
  border-color: rgb(247, 82, 82);
  position: fixed;
  top: 0;
  left: 0;
  margin: 8px;
  height: 225px;
}

.contact-info {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 5px;
}

.name,
.curly-bracket {
  font-size: 24px;
}

.curly-bracket {
  margin-bottom: 5px;
}

.github,
.linkedin,
.resume,
.email {
  margin: 0px 0px 10px 20px;
}

a {
  color: lime;
}

a:hover {
  color: rgb(247, 82, 82);
}

.projects-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
  text-align: center;
}

.projects-link {
  position: fixed;
  bottom: 50%;
  right: 0px;
  margin-right: 5px;
  font-size: 24px;
}

.project-card {
  padding: 20px 40px 40px 40px;
}

.project-img {
  height: 200px;
  width: 300px;
  border: solid;
  border-color: rgb(247, 82, 82);
  text-align: center;
}

.project-img:hover {
  border-color: lime;
}

.card {
  background-color: #000000;
  color: #FFFFFF;
}

.title {
  font-size: 24px;
  color: rgb(247, 82, 82);
}

hr {
  border-color: lime;
}

h1 {
  text-align: center;
  margin: 20px;
}

.home-container {
  text-align: center;
  margin: 20px;
}

.potion-img {
  height: 60px;
  padding-bottom: 11px;
}


